body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(184, 0, 0);
    color: white;
}

.controls {
    display: flex;
    flex: 1;
}

.controls form {
flex: 1;
display: flex
}

button {
    background: green;
    color: white;
    padding: 5px;
    width: 150px;
}

span {
    font-size: 150px;
}

h2 {
    font-size: 50px
}

a {
    font-size: 30px
}